{% extends "app_blog/base.html" %} {% block content %}
<!-- posts begin-->
{% for post in posts %}
<article class="media content-section">
  <div class="media-left">
    <img
      class="rounded-circle article-img"
      src="{{ post.author.profile.image.url }}"
    />
  </div>
  <div class="media-body">
    <div class="article-metadata">
      <!--<a class="mr-2" href="#">{{ post.author }}</a>-->
      <span class="mr-2">{{ post.author }}</span>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2>
      <a class="article-title" href="{% url 'post_detail' post.id %}">
        {{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
